.title {
    display: flex;
    padding: 0.2rem;
    height: 20px;
    justify-items: center;
    color: var(--accent);
}

.subtitle {
    padding-left: 0.5rem;
}

.collapsible-header {
    font-size: 1rem;
    color: var(--text-primary)
}

.arrow-hidden {
    width: 1rem;
    height: 1rem;
    rotate: -90deg;
    transition: rotate ease-in-out 0.6s;
    padding-right: 10px;
}

.arrow-show {
    width: 1rem;
    height: 1rem;
    rotate: 0deg;
    transition: rotate ease-out 0.6s;
    padding-right: 10px;
}