div {
    flex-basis: content;
    align-self: center;
    flex-grow: 1;
}

header {
    font-style: italic;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height:10vh;
    min-height: 100px;
}

.left {
    flex: none;
}

ul.navigation {
    align-items: flex-start;
    padding-inline-start: 0px;
}

li.navigation {
    display: inline-flex;
    list-style: none;
}
