div {
    flex-basis: content;
    align-self: center;
    flex-grow: 1;
}

header {
    font-style: italic;
    display: flex;

    min-height: 100px;
}

.left {
    flex: none;
}

ul.navigation {
    align-items: flex-start;
    padding-inline-start: 0px;
}

li.navigation {
    margin-right: 1rem;
    display: inline-flex;
    list-style: none;
}

li.navigation :hover {
    border-bottom: #aaaaaa;
    border-bottom-style: outset;
    transition: all ease 0.1s;
}

li.navigation-active {
    display: inline-flex;
    list-style: none;
    margin-right: 1rem;
    border-radius: "80%";
    border-bottom: var(--accent);
    border-bottom-style: outset;
}