body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weigth);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: #fdfdfd;
  --caption: #191919;
  --text-primary: #090B0F;
  --text-secondary: #4368d7;
  --accent: #B31244;
  --font-weigth: 500;
}

[data-theme='dark'] {
  --background: #1e1e1e;
  --caption: #dddddd;
  --text-primary: #fdfdfd;
  --text-secondary: #3688e8;
  --accent: #c86363;
  --font-weigth: 300;
}

h1 {
  align-items: flex-start;
  font-weight: 500;

  a {
    color: var(--text-primary);
    text-decoration: none;
  }

  ;
}

h3 {
  align-items: flex-start;
  font-weight: 400;
  font-style: italic;
}

a {
  padding: 0.3rem;
  color: var(--text-secondary);
  text-decoration: none;
}

;

p {
  font-weight: var(--font-weigth);
  margin: auto;
}

span {
  font-weight: var(--font-weigth);
}